h1, h2 {
    font-weight: 400;
}

.banner .title {
    font-family: var(--font-first);
    font-size: 40px;
    color: var(--color-first);
    text-shadow: 5px 5px #000;
}

.banner .subtitle {
    font-family: var(--font-first);
    font-size: 30px;
    color: var(--color-third);
    text-shadow: 5px 5px #000;
    margin-top: 33px;
}

.skills .title {
    font-family: var(--font-first);
    font-size: 40px;
    margin-bottom: 60px;
    color: var(--color-third);
    text-align: center;
}

.skills .subtitle {
    font-family: var(--font-first);
    font-size: 25px;
    color: var(--color-third);
}