.skills {
    background-color: var(--color-first);
    height: 100vh;
    padding: 50px 0 100px;
    border-bottom: 10px solid #023E8A;
}

.skills-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.skill {
    display: flex;
}

.skill img {
    width: 90px;
}

.skill-level {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}

.progressbar {
    border: 5px solid #000;
    height: 40px;
    width: 360px;
    background-color: var(--color-second);
}

.skill:not(:first-child) {
    margin-top: 40px;
}

/* .skill:nth-child(n+1) {
    margin-top: 0;
} */