.action {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-third);
    font-family: var(--font-second);
    font-size: 20px;
}

.action:not(:last-child) {
    margin-right: 30px;
}

.action:not(:last-child)::before{
    content: ""; /* navigation bar squares */
    background-color: var(--color-first);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}