.box {
    display: inline-block;
    text-align: center;
    background-color: var(--color-black-second);
    box-shadow: 10px 10px #000;
    padding: 35px 35px 45px;
}

.box .title {
    margin-bottom: 35px;
}