.main-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 60px;
    font-family: var(--font-second);
    font-size: 20px;
    color: var(--color-third);
    background-color: var(--color-first);
    box-shadow: 5px 5px #000;
    transition: all 100ms cubic-bezier(.45, .97, .68, 2.48); 
}

.main-header .main-button{
    margin-right: 20px;
}

.main-button:hover {
    transform: scale(1.08);
}

.main-button:active {
    transform: scale(1);
}