.main-section {
    background-color: var(--color-first);
    padding: 50px 0 100px;
    border-bottom: 10px solid #023E8A ;
}

.main-section .main-title {
    font-family: var(--font-first);
    color: var(--color-third);
    font-size: 25px;
    font-weight: 400;
}

.main-section._projects {
    background-color: var(--color-black-first);
    border-color: #E63946;
}